VITE_FIREBASE_API_KEY="AIzaSyCeSVlFVdqxKENu4B2kgQTCSt6nqfvAWc8"
VITE_FIREBASE_AUTH_DOMAIN="mdt-assistant.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="mdt-assistant"
VITE_FIREBASE_STORAGE_BUCKET="mdt-assistant.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="721054468292"
VITE_FIREBASE_APP_ID="1:721054468292:web:915fbb7fd9f0dd7a122191"
VITE_FIREBASE_MEASUREMENT_ID="G-KFJ60LM1ZG"
VITE_TEMPLATE_CASE_PATH="https://firebasestorage.googleapis.com/v0/b/mdt-assistant.firebasestorage.app/o/OKYpY%201-708%20%5B3-4-25%20-%20%CE%91%5D%20(1).docx?alt=media&token=3ee044f6-1db2-4053-93d9-7652140b92b6"
VITE_TEMPLATE_DECISION_PATH="https://firebasestorage.googleapis.com/v0/b/mdt-assistant.firebasestorage.app/o/OKYpY%201-708%20%5B3-4-25%20-%20%CE%91%5D%20(1).docx?alt=media&token=3ee044f6-1db2-4053-93d9-7652140b92b6"
VITE_LOGO_URL="https://firebasestorage.googleapis.com/v0/b/mdt-assistant.firebasestorage.app/o/logo.svg?alt=media&token=10bcb09c-7409-4781-80ce-788aca0e1ccd"
