VITE_FIREBASE_API_KEY="AIzaSyCeSVlFVdqxKENu4B2kgQTCSt6nqfvAWc8"
VITE_FIREBASE_AUTH_DOMAIN="mdt-assistant.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="mdt-assistant"
VITE_FIREBASE_STORAGE_BUCKET="mdt-assistant.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="721054468292"
VITE_FIREBASE_APP_ID="1:721054468292:web:915fbb7fd9f0dd7a122191"
VITE_FIREBASE_MEASUREMENT_ID="G-KFJ60LM1ZG"
